@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Georgian:wdth,wght@62.5..100,100..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Noto Sans Georgian', sans-serif;
  overflow-x: hidden;
}

header {
  position: relative;
}

.menu-button-for-mobile {
  position: fixed;
  right: 2.2rem;
  top: 2.3rem;
  width: 2.6rem;
  height: 2.1rem;
  z-index: 4;
  transition: transform 0.3s, top 0.8s;
}

.pieces-box {
  width: 100%;
  height: 100%;
  position: relative;
}

.top-piece {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #dbdbdb;
  height: 0.3rem;
  width: 50%;
  transition: all 0.3s;
  border-radius: 100px;
}

.center-piece {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  background-color: #dbdbdb;
  height: 0.3rem;
  width: 100%;
  transition: all 0.3s;
  border-radius: 100px;
}

.bottom-piece {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #dbdbdb;
  height: 0.3rem;
  width: 50%;
  transition: all 0.3s;
  border-radius: 100px;
}

.hamburger-menu {
  position: fixed;
  width: 20rem;
  z-index: 3;
  height: 100vh;
  background-color: #212121;
  right: -100%;
  transform: translate(-50%, 0);
  transition: all 0.4s;
}

.relative-cont-for-menu-list {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.hamburger-menu-list {
  position: absolute;
  top: 9.5rem;
  right: 1.8rem;
  display: flex;
  flex-direction: column;
  gap: 3.3rem;
  list-style: none;
  text-align: end;
  transition: all 0.4s;
}

.hamburger-menu-list li {
  font-size: 1.4rem;
  font-weight: 400;
  color: #f4f4f4;
  white-space: nowrap;
}

.hamburger-menu-dark-background {
  position: fixed;
  top: 0;
  left: 100%;
  background-color: #ffffff00;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  transition: background-color 0.8s;
}

.main-section {
  max-width: 98rem;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.align-items {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.relative {
  position: relative;
}

.hidden {
  display: none;
}

.margin-top {
  margin-top: 3rem;
}
